<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="images/favicon.png">
	<title>Mobile Template</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900%7CMaterial+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/lightbox.css">
	<link rel="stylesheet" href="css/line-awesome.css">
	<link rel="stylesheet" href="css/line-awesome-font-awesome.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- default style -->
	<link rel="stylesheet" type="text/css" href="css/style.css" title="default" />
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi" type="text/css"/>

</head>
<body>
	
	<!-- prelaoder -->
	<div class="wrapper-load">
		<div class="preloader-wrapper medium-size active">
			<div class="spinner-layer spinner-custom">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end prelaoder -->
	
	<!-- navbar -->
	<div class="navbar navbar-home">
			<div class="row">
					<div class="col s3">
						<a href="" class="link-back"><i class="fa fa-arrow-left"></i></a>
					</div>
					<div class="col s6">
						<div class="content-center">
							<a href="index.html">
								<h1>الترفيه </h1>
							</a>
						</div>
					</div>
				
				</div>
	</div>
	<!-- end navbar -->


	
	<!-- entertainment -->
	<div class="segments-page">
		<div class="container">
			<div id="entertainment">

				<span  v-for="item in info">

					<div class="forum b-shadow">
						<div class="content-user">
							<img v-bind:src="item.image" alt="">
							<div class="title">
								<h5>{{ item.name }}</h5>
								<span>{{ item.type }}</span>
								<div class="date">
									
									{{ item.time }}
									<i class="fa fa-calendar"></i>
								</div>
							</div>
						</div>
						<div class="content-text">
							<a href=""><h4>{{ item.channel }}</h4></a>
							
							
						</div>
					</div>

				

				</span>

			</div>
			
			
			
			
		</div>
	</div>
	<!-- end entertainment -->
		
	
	<script src="js/jquery.min.js"></script>
	<script src="api/session.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/lightbox.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
	
	<script src="api/vuejs/vue.js"></script>
    <script src="api/vuejs/axios.js"></script>
	<script src="api/entertainment.js"></script>


</body>
</html>