<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="images/favicon.png">
	<title>Mobile</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900%7CMaterial+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/lightbox.css">
	<link rel="stylesheet" href="css/line-awesome.css">
	<link rel="stylesheet" href="css/line-awesome-font-awesome.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- default style -->
	<link rel="stylesheet" type="text/css" href="css/style.css" title="default" />
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi" type="text/css"/>

</head>
<body>
	
	<!-- prelaoder -->
	<div class="wrapper-load">
		<div class="preloader-wrapper medium-size active">
			<div class="spinner-layer spinner-custom">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end prelaoder -->
	
	<!-- navbar -->
	<div class="navbar navbar-home">
			<div class="row">
					<div class="col s3">
						<a href="" class="link-back"><i class="fa fa-arrow-left"></i></a>
					</div>
					<div class="col s6">
						<div class="content-center"><a href="index.html">
								<h1>مواقيت الصلاه</h1>
							</a></div>
					</div>
				
				</div>
	</div>
	<!-- end navbar -->

		<!-- Pray Time -->
		<div class="open-hours segments-page">
			<div class="container">
				<div class="content b-shadow">
					<div class="title">
						<h5>مدينة الرياض</h5>
					</div>
					<div id="prayTime">

						<span  v-for="time in info">

							<div class="content-hours">
								<ul>
									<li style="direction: rtl;">{{ time.time }} </li>
									<li>{{ time.name }} </li>
								</ul>
							</div>

						</span>

					</div>
					
					
				</div>
			</div>
		</div>
		<!-- end Pray Time -->




		
		

	
	<script src="js/jquery.min.js"></script>
	<script src="api/session.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/lightbox.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>

	<script src="api/vuejs/vue.js"></script>
    <script src="api/vuejs/axios.js"></script>
	<script src="api/praytime.js"></script>

</body>
</html>